@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.App{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;

}
.btnPremium{
  background-color: #f1e4ff;
  color: #8c30f5;
  border-radius: 10px;
}
.btnCerrar{
  background-color: #8c30f5;
  color: #f1e4ff;
  border-radius: 10px;
  
}

.contenedorFondo{
  background: fixed no-repeat 50% 50%;
  background-size:cover; 
  background-color: #8c30f5;
  background-image:url('../src/assets/completoFondo.png');
  width: 100%;
  height: 750px;
}

.contenedorFondo img{
    display: none;
    
}

@media (max-width:414px) {
  .contenedorFondo{
    background-image: none;
    height: 300px;
  }

  .contenedorFondo img{
    display: block;
  }
  
}

