@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.App{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;

}

.header{
  font-weight: bolder;
  color: black;
  width:100%;
  padding:20px;
  color:#ffffff;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  max-width: 1800px;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background-color: transparent;
}

.header.active{
  background: #000000;
  color: #ffffff;
}



.btnPremium{
  background-color: #f1e4ff;
  color: #8c30f5;
  border-radius: 10px;
}
.btnCerrar{
  background-color: #8c30f5;
  color: #f1e4ff;
  border-radius: 10px;
  
}

.contenedorFondo{
  background: fixed no-repeat 50% 50%;
  background-size:cover; 
  background-color: #8c30f5;
  background-image:url('../src/assets/completoFondo.png');
  width: 100%;
  height: 750px;
}

.contenedorFondo img{
    display: none;
    
}

@media (max-width:414px) {
  .contenedorFondo{
    background-image: none;
    height: 300px;
  }

  .contenedorFondo img{
    display: block;
  }
  
}

